@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-dark text-light row">
    <h1 class="display-4 text-center text-lg-center">Customer Relationship Manager</h1>
    <hr class="my-4" />
    <form method="get" class="text-left p-4">
        <button class="btn btn-dark btn-lg shadow-sm p-3" type="submit" asp-controller="Customer" asp-action="Index">Customer List</button>
        <button class="btn btn-dark btn-lg shadow-sm p-3" type="submit" asp-controller="BusinessLead" asp-action="Index">New Leads</button>
    </form>
</div>