@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You actually took the time to look at the privacy policy.  Wait to go!</p>
<p>Some of the business information was taken from TC Business News.</p>
<p>Your data will not be sold...</p>
